<div class="row form-group" ng-repeat="form in $ctrl.selectedForms">
    <div class="col-sm-3">
        <select class="form-control" ng-model="$ctrl.selectedForms[$index]"
                ng-disabled="$ctrl.selectedForms[$index].required"
                ng-change="$ctrl.onFormSelect()"
                ng-options="form as form.name for form in $ctrl.getAvailableForms($ctrl.selectedForms[$index]) track by form.name">
            <option value='' disabled>Please select a form</option>
        </select>
    </div>

    <div class="col-sm-2">
        <button type="button" class="btn btn-default" ng-if="$last && $ctrl.canDeleteLastForm()"
                ng-click="$ctrl.deleteForm()">x</button>
        <button type="button" class="btn btn-default" ng-if="$last && $ctrl.canAddForm()" ng-click="$ctrl.addForm()">+</button>
    </div>
</div>